html, body {
    height: 100%;
}
body {
    background: linear-gradient(#1E7FD9, #01529C);
    color: white;
    font-family: Segoe UI, Helvetica, sans-serif;
    margin: 0;
}
.header {
    padding-top: 60%;
}
a.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}
a.button1:hover{
    color:#FFFFFF;
    background-color:#FF7D25;

}
@media all and (max-width:30em){
    a.button1{
        display:block;
        margin:0.4em auto;
    }
}
.header h1 {
    margin-bottom: 0;
    font-size: 2.2em;
    font-weight: bold;
}
.header h2 {
    margin-top: 0;
    font-weight: lighter;
    font-size: 1.2em
}
hr {
    width:15%;margin:0 auto;
    background-color: white;
    border-color: transparent;
    height: 2px;
}
.flex-item input {
    border-color: transparent;
    border-radius: 25px;
    width: 230px;
    height: 48px;
    color: #2B2D2F;
    background-color: white;
    font-weight: bolder;
    box-shadow: 0px 6px 40px -7px;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}

.flex-item {
    text-align: center;
}
