<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>EchoVR Protocol</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/home.css}" rel="stylesheet"/>
</head>
<body>
<div class="flex-container">
    <div class="row">
        <div class="flex-item">
            <div class="header">
                <h1>Welcome to the home page!</h1>
                <h2>You really shouldn't be here</h2>
            </div>
        </div>
    </div>
</div>
</body>
</html>