<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/home.css}" rel="stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EchoVR Protocol</title>
</head>
<body>
<div class="flex-container">
    <div class="row">
        <div class="flex-item">
            <div class="header">
                <h1>Click the button to join the game!</h1>

                <hr>
            </div>
        </div>
        <div class="flex-item" id="buttons">
            <a th:href=""</a>
        </div>
    </div>
</div>


</body>
</html>